body {
  font-family: "Montserrat", sans-serif;
  background-color: #282828;
}
#navbarr {
  padding: 3% 4%;
}
.submit-btn {
  width: 85%;
  padding: 1px 20px;
  cursor: pointer;
  color: #30fbef;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.04);
  /* box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 30px;
  margin-left: 30px;
}
.save {
  padding: 7% 10% 7%;
}
.big-heading {
  font-family: "Montserrat", sans-serif;
  color: #30fbef;
  font-size: 73px;
  font-weight: bold;
  line-height: 110%;
}
.small-para {
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
}
.learn {
  width: 50%;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 5px;
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 30px;
  margin-left: 10px;
}
.title-image {
  width: 500px;
  height: 400px;
  margin-left: 80px;
  /* border-radius: 10%;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22); */
}
.second-heading {
  font-weight: bold;
  font-size: 35px;
  line-height: 130%;
  color: #30fbef;
  display: flex;
  align-items: center;
}
.about {
  /* width: 400px;
  height: 480px; */
  width: 1000px;
  position: relative;
  margin: 6% auto;
  background: rgba(255, 255, 255, 0.04);
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  /* box-shadow:-1px 4px 28px 0 px rgba(0,0,0.75) */
  border-radius: 5%;
}

.about_image {
  width: 350px;
  height: 350px;
  /* margin-left: 80px; */
  border-radius: 10%;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
}
.feature {
  padding: 3% 3%;
}
.card-deck {
  padding: 0% 10%;
}
.down {
  margin-bottom: 60px;
}
.card-title {
  font-weight: bold;
  color: #30fbef;
}
.card {
  background-color: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 10%;
}
.card-text {
  color: #ffffff;
}
.card-img-top {
  width: 310px;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}
.muted {
  margin-left: 30px;
  color: #30fbef;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  cursor: pointer;
}
.download_image {
  width: 80%;
  height: 600px;
  transform: rotate(25deg);

  position: absolute;
  right: 10%;
  margin-bottom: 200px;
  margin-left: 200px;
}
.upper {
  margin-bottom: 30px;
}
.t {
  font-weight: bold;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
}
.sub-heading {
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9c69e2;
}
.no-gutters {
  padding: 4% 3%;
}
.mail {
  width: 90%;
  height: 50%;
  padding: 1px 20px;
  cursor: pointer;
  color: #30fbef;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.04);
  /* box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 30px;
  margin-left: 30px;
}
.email {
  background: transparent;

  outline: none;
  border: none;
  width: 330px;
  color: #ffffff;
}
.join {
  width: 30%;
  font-size: 18px;
  /* padding: 10px 5px; */
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 30px;
  margin-left: 290px;
  /* padding-bottom: 20px; */
}
.line_2 {
  background: #9c69e2;
  opacity: 0.2;
  box-shadow: 0px -7px 0px rgba(255, 255, 255, 0.19);
}

.w3-btn {
  width: 40%;
  font-size: 18px;
  padding: 10px 5px;
  cursor: pointer;
  margin: auto;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 30px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
  color: #30fbef;
}
#all {
  font-size: 18px;
  line-height: 250%;
  color: #30fbef;
}
.footer {
  font-size: 15px;
  font-weight: bold;
  line-height: 180%;
  display: flex;
  align-items: center;
  color: #30fbef;
  padding: 5% 40%;
}
.color {
  color: #30fbef;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
